/* p {
    margin: 0;
}

img {
    width: 500px;
    display: block;
    margin: 0 auto;
}

.head{
    font-size: 24px;
}

#text {
    color:coral;
}

ul li {
    color:green;
}

ol li {
    color:blueviolet;
}

.container {
    width: 500px;
    padding: 10px 15px;
    border:  1px solid black;
    margin: 20px auto;
    text-align: center;
    color: brown;
    font-size: 20px;
    font-weight: 700;
    background-color:forestgreen;

} */


/* НЕ применять position absolute и нижe */


*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #181818;
    font-size: 400 16px/22px;
    font-family: 'Raleway';

}

a{
    color: inherit;
    text-decoration: none;
    transition: .4s;
}

img {
    max-width: 100%;
}


button {
    display: block;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: .4s;
    border: 2px solid #181818;
    border-radius: 12px;
}

.header__content-buttondown--all {
    background-color: #181818;
    color: white;
}

.container {
    max-width: 1170px;
    padding: 0 5px;
    margin: 0 auto;
}

.header__top-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.logo {
    line-height: 24px;
    
}

.menu__list-item {
    display: inline-block;
    margin-right: 32px;
}

.menu__list-item:last-child {
    margin-right: 0;
}

.header a:hover,
.header button:hover {
    color: pink;
}

.header__content-inner {
    text-align: center;
}

.header__content-title {
    text-align: center;
    /* margin: 120px auto; */
    font-size: 64px;
    width: 830px;
    height: 128px;
    margin-bottom: 40px;
    margin-top: 120px;
    margin-left: 150px;
    /* padding-left: 318px;
   margin-bottom: 40px; */
}

.header__content-description {
    text-align: center;
    font-weight: 400;
    Font-size: 16px;
    line-height: 24px;
    width: 900px;
    padding-left: 200px;
}

.header__content-buttonup {
    margin-top: 80px;
    display: flex;
    gap: 20px;
    font-weight: 600;
    Font-size: 16px;
    line-height: 24px;


}

.header__content-buttondown {
    display: flex;
    justify-content: space-between;
    margin-left: 300px;
    margin-top: 100px;
    padding: 4px 16px;
    gap: 8px;  
    width: 500px; 
    font-weight: 600;
    Font-size: 16px;
    line-height: 24px;
}


.header__content-buttondown--design,
.header__content-buttondown--develop,
.header__content-buttondown--keysite {
    padding: 4px 16px;
    gap: 8px;
    height: 32px;

    background: white;
    border-radius: 10000px;
}

.hidden {
    visibility: hidden;
    height: 0;
}

.keysite,
.develop,
.design {
    visibility: hidden;
    height: 0;
}

.header__content-buttondown--all {
    background: black;
    padding: 4px 16px;
    gap: 8px;

    width: 62px;
    height: 32px;

    border-radius: 10000px;
}


.header__content-button--Telegram {
    background: #181818;
    border-radius: 8px;
    color: white;
    margin-left: 340px;
    padding: 15px 24px 17px;
}

.header__content-button--VideoCV {
    padding: 15px 24px 17px;
    gap: 8px;
    background: white;
    border-radius: 8px;
}

.pictures__inner {
    visibility: visible;
    height: auto;
}

.pictures__item {
    margin: 20px;
}

.pictures__itemtwo {
    display: flex;
    justify-content: space-between;
}

.img1,
.img2, 
.img4,
.img5 {
    margin-left: 10px;
}

.img1 {
    width: 1160px;
    height: 460px;
}

.img5 {
    height: 544px;
}

.img2, 
.img3, 
.img5, 
.img6 {
    height: 400px;
}

.img2,
.img5 {
    margin-right: 20px;
}

.img5,
.img6 {
    width: 560px;
}

.pictures {
    margin-bottom: 100px;
}

.about {
    margin-top: 100px;
}

div.about_inner {
    margin-left: 200px;
}

.about_inner,
.about__boxes {
    display: flex;
    justify-content: space-between;
}

.about__desciption {
    width: 484px;
    height: 168px;
    left: 740px;
    top: 3000px;
    padding: 40px;
    text-align: left;
}

.about__desciption h1 {
    text-align: left;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    width: 540px;
}

.about__boxes {
    margin: 40px;
    
}

.about__boxes1 {
    text-align: left;
}

.about_boxes--upsign {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 20px;
    text-align: left;
}

.about__boxes1 {
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
}

.about_picture {
    width: 400px;
    height: 560px;
    border-radius: 24px;
}

.about_inner{
    margin-left: 140px;
}

.services__title {
    color: white;
    text-align: center;
    font-weight: 600;
    height: 64px;
    font-size: 48px;
    text-align: center;
    padding-top: 100px;
}

h2.services__title {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}


.s-title {
    font-weight: 600;
    padding-top: 8px;
    size: 20px;
    height: 24px;
    width: 288px;
    height: 24px;
}

.services {
    background-color: #181818;
    height: 768px;
    margin-left: auto;
    margin-right: auto;
    
}

.services-card {
    width: 368px;
    background-color: white;
    border-radius: 16px;
    padding: 40px;
}

.s-description {
    padding-top: 16px;
    padding-right: 40px;
    width: 288px;
    height: 96px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.s-line {
    width: 80px;
    height: 0px;
    margin-top: 60px;
    opacity: 0.2;
    border: 1px solid #181818;
}

.s-price {
    padding-top: 56px;
    width: 288px;
    height: 30px;
    font-weight: 600;
    size: 30px;

}

.services-list {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin-top: 150px;

}

.cost {
    height: 1000px;
}

.cost__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    font-family: 'Raleway';
    padding-top: 120px;
    padding-bottom: 40px;
    text-align: center;
    white-space: nowrap;
}

.cost__block1 {
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    padding: 40px 24px;
    width: 448px;
    height: 368px;
    left: 496px;
    top: 4544px;
    margin-left: 605px;
}

.cost__worktype {
    border: 1px solid #CCCCCC;
    height: 48px;
    border-radius: 8px;
    margin-bottom: 24px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cost__worktype--grey {
    color: #808080;
    border: 1px solid #CCCCCC;
    height: 48px;
    border-radius: 8px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

.cost__mark {
    padding-top: 24px;
    
}

.cost__mark {
    display: flex;
}

.cost__mark_text {
    padding-left: 15px;
}

.cost__count {
    margin-top: 55px;
    background: white;
    border-radius: 8px;
    padding: 15px 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 35px;
}

.cost__block2 {
    visibility: hidden;

    width: 400px;
    left: 520px;
    top: 4904px;

    border: 1px solid #CCCCCC;
    border-radius: 0px 0px 16px 16px;

    padding: 40px 24px;

    margin-left: 630px;
    margin-bottom: 100px;
}

/* .cost__block2_show {
    visibility: visible;
} */
.cost__price {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.cost__long {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}


.cost__costtext {
    padding-top: 24px;
}

.cost__deadlinetext {
    padding-top: 24px;
}


.cost__cv {
    margin-top: 55px;
    background: #181818;
    border-radius: 8px;
    padding: 15px 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 35px;
    color: white;
    margin-top: 40px;
}



.QA__title {
    height: 64px;
    left: 497px;
    top: 4400px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    font-family: 'Raleway';
    padding-top: 120px;
    padding-bottom: 120px;
    color: white;
    text-align: center;

}



.QAcontainer {
    background:  #181818;
    height: 1232px;
    background-size: 100%;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.QA__block {
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    width: 1160px;
    /* font-weight: 600;
    font-size: 20px;
    line-height: 24px; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    cursor: pointer;
    height: 88px;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    /* position: relative; */

}

.QA__block_allcontent {
    margin-top: 30px;
}

.QA__block_content {
    /* transition: 0.3s ease-in-out;
    padding: 0 18px;
    max-height: 0; */
    font-size: 0;
    transition: 0.05s;
    text-align: left;
    width: 900px;
    padding-left: 20px;
    height: 300px;


}

.hidden {
    visibility: hidden;
}

/* .hidden {
    visibility: visible;
} */

/* .QA__block_text {
    width: fit-content;
    padding-left: 40px;
    margin-bottom: 100px;
    position: absolute;
} */


.QA__block_text {
    width: 340px;
    margin-left: 40px;
    text-align: left;
    position: relative;
    margin-bottom: 10px;
    transition: 0.5s;
    height: fit-content;
    white-space: nowrap;
}

.plus {
    width: 30px;
    padding-bottom: 30px;
    margin-left: 715px;
}

.QA__ul {
    /* list-style: disc outside none; */
    display: list-item;
    margin-left: 2em;
    text-align: left;
}


/* .li {
    list-style: disc outside none;
    display: list-item;
    margin-left: 1em;
    display: list-item;
} */

.QA__block_titleplus {
    display: flex;
    height: auto;
    width: 1200px;
}

/* .QA__block_titlepluslast {
    display: flex;
    gap: 715px;
} */

.rotate{
    transform: rotate(45deg);
    width: 30px;
}

.active,
.QA__block:hover {
    background-color:#e3e3e3;
}

.active,
.cost__count:hover,
.header__content-button--VideoCV:hover,
.header__content-buttondown--keysite:hover,
.header__content-buttondown--develop:hover,
.header__content-buttondown--design:hover {
    background-color:#181818;
    color: white;
}

.active,
.header__content-button--Telegram:hover,
.header__content-buttondown--all:hover,
.cost__cv:hover,
.request__button:hover {
    background-color:#424244;
}
.request__title {
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
    margin-top: 120px;
    text-align: center;
}

.request__title--bold {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    margin-top: 8px;
    text-align: center;
}

.request__block {
    width: 448px;
    height: 552px;

    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    border-radius: 16px;
    margin-top: 50px;
    margin-left: 614px;
}

.request_smth,
.request_smth1
 {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 400px;
    height: 48px;
    margin-top: 40px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    padding-top: 3px;
    padding-left: 16px;
    
}

.request_smth1--comments {
    border: 1px solid #CCCCCC;
    border-radius: 8px;
    width: 400px;
    height: 48px;
    margin-top: 30px;
    margin-left: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #808080;
    padding-top: 0px;
    padding-left: 16px;
}

.requset__block_container{
    padding-left: 20px;
}

.requset__block_container-comment {
    padding-left: 10px;
}

.request_smth1 {
    margin-top: 24px;
}

.request_smth1--comments {
    width: 400px;
    height: 160px;
}

.request__button {
    margin-top: 55px;
    background: #181818;
    border-radius: 8px;
    padding: 15px 80px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    width: 400px;
    margin-left: 24px;
    color: white;
    margin-top: 40px;
}

.requset__container {
    height: 1232px;
}

.cost__worktype_locations {
    display: flex;
    flex-direction: column;
}

.cost,
.requset__container,
.about,
.container,
.pictures,
.header__content,
.header,
.QA__title,
.QA__blocks,
.cost__block1,
.cost__block2,
.cost__count,
.cost__cv,
.request__title,
.request__title--bold,
.request__block,
.services-list {
    margin-left: auto;
    margin-right: auto;
}

.request_smth,
.request_smth1,
.request__button {
    margin-left: auto;
    margin-right: auto;
}


.about_inner {
    margin-right: 200px;
}


.header,
.body,
.header__content,
.pictures,
.about,
.section,
section.services,
.cost,
div.QAcontainer,
div.requset__container,
h1.cost__title,
.header {
    width: 1440px;
}

div.header__top {
    width: 1000px;
}

section.services {
    width: max-width;
}

.about {
    margin-top: auto;
    margin-bottom: auto;
}

.header__content-title{
    margin-left: auto;
    margin-right: auto;
}

/* Адаптивная верстка */

/* 
@media (max-width: 1588px) {
    .services-list {
        padding-left: 150px;
    }
    .services{
        width: 1588px;
    }
    .QAcontainer{
        width: 1588px;
    }
    .cost__title {
        width: 1588px;
    }
  }

div.requset__container,
div.about,
header.header,
h1.cost__title {
    margin: 0;
}

section {
    width: 1440px;
}



  @media (max-width: 1034px) {
    .request__title {
        font-size: 20px;
        margin-left: 500px;
    }
    .request__title--bold {
        font-size: 12px;
        margin-left: 455px;
    }
    .request__block{
        margin-left: 357px;
        margin-top: 30px;
    }
    .QA__block, 
    .QA__block--tilda {
        margin-left: 10px;
        width: 900px
    }
    .QA__title {
        padding-left: 260px;
    }
    .cost__title {
        font-size: 30px;
        padding-left: 340px;
    }
    .cost__block1 {
        margin-left: 360px;
    }
    .cost__block2 {
        margin-left: 390px;
    }
    .services-card {
        width: 300px;
    }
    .services-list {
        padding-left: 90px;
    }
    .s-description {
        width: 280px;
        height:auto;
    }
    .services__title {
        padding-left: 150px;
    }

    .about__desciption h1 {
        font-size: 30px;
    }
  }


  @media (max-width: 304px) {
    .request__title {
        font-size: 25px;
        margin-left: 200px;
        width: 304px;
    }
    .request__title--bold {
        font-size: 19px;
        margin-left: 130px;
    }
    .requset__container {
        width: 800px;
        margin-left: 300px;
    }
    .QA__block, 
    .QA__block--tilda {
        margin-left: 30px;
        width: 900px
    }
    .QA__title {
        padding-left: 280px;
    }
    .request__block{
        margin-left: 100px;
    }
    .about_inner {
        margin-left: 100px;
        width: 800px;
    }
    .about_picture {
        width: 400px;
    }
    .pictures__inner {
        width: 1000px;
    }
    .img1, 
    .img4 {
        width: 970px;
        padding-left: 40px;
    }
    .img2,
    .img3,
    .img5,
    .img6 {
        width: 450px;
    }

    .img2,
    .img5 {
        margin-left: 40px;
    }
    .header__content-buttonup {
        height: 50px;
        width: 900px;
    }
    .header__top {
        height: 50px;
        width: 800px;
    }
    .menu {
        margin-left: 140px;
    }
  }

  @media (max-width: 600px) {
    .header {
        margin-left: 100px;
    }
    .header__top-inner {
        margin-left: 10px;
        width: 800px;
    }
    .menu {
        margin-left: 40px;
    }
    .header__content-buttonup {
        height: 50px;
        width: 900px;
    }
    .pictures__inner {
        width: 1000px;
    }
    .img1, 
    .img4 {
        width: 1000px;
        padding-left: 100px;
    }
    .img2,
    .img3,
    .img5,
    .img6 {
        width: 430px;
    }

    .img2,
    .img5 {
        margin-left: 110px;
    }
    .about_inner {
        margin-left: 100px;
        width: 800px;
    }
    .about_picture {
        width: 400px;
    }
    .request__title {
        font-size: 25px;
        margin-left: 200px;
        width: 304px;
    }
    .request__title--bold {
        font-size: 19px;
        margin-left: 130px;
    }
    .requset__container {
        width: 800px;
        margin-left: 300px;
    }
    .request__block {
        margin-left: 90px;
    }
  }


  .red {
    color: green;
    background: red;
  } */